#page.default {
  min-height: calc(100vh - 22.6875rem);
  header {
    min-height: rem-calc(364);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: rem-calc(30);
    h1 {
      margin-top: rem-calc(80);
      font-size: rem-calc(60);
      small {
        font-size: rem-calc(27) !important;
        font-weight: $global-weight-regular;
        color: $white;
        position: relative;
        top: rem-calc(-5);
        letter-spacing: rem-calc(-1) !important;
      }
    }
    .shadow:after {
      width: 100%;
      height: rem-calc(74);
      display: block;
      position: absolute;
      content: "";
      background-image: url("../img/shadow.png");
    }
  }
}