#page.index {
  background-image: url("../img/bg1920.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  h1 {
    text-align: center;
    margin-top: rem-calc(110);
    margin-bottom: rem-calc(124);
    font-weight: $global-weight-normal;
  }
}