#page.default.smartCity {
  padding-bottom: rem-calc(40);
  article {
    h2 {
      font-size: rem-calc(24);
      margin-bottom: rem-calc(20);
    }
    p {
      margin-bottom: rem-calc(40);
    }
    img {
      margin-bottom: rem-calc(40);
    }
  }
}