#page.default.technologie {
  padding-bottom: rem-calc(200);
  article {
    p {
      margin-bottom: rem-calc(25);
    }
    img {
      margin-top: rem-calc(15);
      margin-bottom: rem-calc(55);
    }
  }
}