.boxes {
  .column {
    padding-left: rem-calc(11);
    padding-right: rem-calc(11);
  }
  padding-bottom: rem-calc(50);
}
.boxes .box {
  width: 100%;
  height: 100%;
  border: rem-calc(5) solid $white;
  border-radius: rem-calc(3);
  background-repeat: no-repeat;
  padding: rem-calc(125 17 0 17);
  background-size: cover;
  background-position: center center;
  margin-bottom: rem-calc(29);
  transition: 200ms;
  h2 {
    margin-bottom: rem-calc(3);
    color: $white;
  }
  p {
    font-size: rem-calc(18);
    line-height: rem-calc(24);
    color: $white;
  }
  &:hover {
    border: rem-calc(5) solid map_get($foundation-palette, primaryDark);
    transition: 100ms;
  }
}