footer {
  width: 100%;
  background-color: map_get($foundation-palette, secondary);
  padding-top: rem-calc(30);
  padding-bottom: rem-calc(18);
  h2 {
    font-size: rem-calc(25);
    margin-bottom: rem-calc(30);
  }
  .danke {
    font-size: rem-calc(18);
    font-weight: $global-weight-bold;
    padding-top: rem-calc(12);
    img {
      padding: rem-calc(0 16);
      position: relative;
      top: rem-calc(-2);
    }
  }
  .textarea label {
    height: 100%;
    padding-bottom: rem-calc(8);
    textarea {
      height: 100%;
      padding-left: rem-calc(16) !important;
      padding-right: rem-calc(16) !important;
      padding-top: rem-calc(14) !important;
      resize: none;
    }
  }
  input {
    height: rem-calc(50) !important;
    margin-bottom: rem-calc(8) !important;
    padding-left: rem-calc(16) !important;
  }
  .smallGutter {
    > .columns:first-child {
      @include breakpoint(large) {
        padding-right: rem-calc(4.5);
      }
    }
    > .columns:last-child {
      @include breakpoint(large) {
        padding-left: rem-calc(4.5);
      }
    }
  }
}