header {
  padding-bottom: rem-calc(27);
  .shadow {
    padding-top: rem-calc(25);
  }
  strong {
    font-weight: $global-weight-semibold !important;
    padding-right: rem-calc(21);
    position: relative;
    top: rem-calc(-10);
    a {
      color: $white;
    }
  }
  @include breakpoint(small down) {
    .button {
      margin-top: rem-calc(20);
    }
    .text-right {
      text-align: center;
    }
  }
  .button {
    font-size: rem-calc(16);
    padding-left: rem-calc(22);
    padding-right: rem-calc(22);
    color: #505253 !important;
    margin-bottom: rem-calc(20);
    border-bottom: rem-calc(2) solid map_get($foundation-palette, primaryDark);
  }
  .logo1 {
    position: relative;
  }
  .logo1:after {
    width: rem-calc(1);
    height: 100%;
    position: absolute;
    background-color: #c6c9ca;
    content: "";
    display: block;
    top: 0;
    right: 0;
    @include breakpoint(large) {
      right: rem-calc(5);
    }
  }
  .logo1 img {
    margin-top: rem-calc(9);
    margin-bottom: rem-calc(8);
    transition: 200ms;
    &:hover {
      transform: scale(1.1);
      transition: 100ms;
    }
  }
  @include breakpoint(medium down) {
    .logo2 {
      text-align: right;
    }
  }
  .logo2 img {
    margin-top: rem-calc(10);
    transition: 200ms;
    &:hover {
      transform: scale(1.1);
      transition: 100ms;
    }
  }
}