nav .menu.vertical {
  a {
    color: #082931;
    background-color: #f2f5f5;
    border-bottom: rem-calc(2) solid #e0e3e3;
    padding-top: rem-calc(21);
    padding-bottom: rem-calc(21);
    position: relative;
  }
  a:after {
    content: "";
    width: rem-calc(17);
    height: rem-calc(12);
    display: inline-block;
    background-image: url("../img/arrowNav.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: rem-calc(23);
    right: rem-calc(14);
  }
  a:hover, li.active a {
    background-color: #feed8c;
    border-bottom: rem-calc(2) solid #fccd13;
    color: #585644;
    font-weight: $global-weight-semibold;
    &:after {
      background-image: url("../img/arrowNavHv.png");
    }
  }
  li {
    margin-bottom: rem-calc(3.5);
  }
}

nav {
  margin-bottom: rem-calc(50);
}