body {
  width: 100%;
  min-height: 100vh;
}
#page {
  width: 100%;
  min-height: 100vh;
}

.whiteBg {
  color: #18373e !important;
  p {
    line-height: rem-calc(25);
    font-weight: $global-weight-regular;
    a {
      color: #cca50d;
      font-weight: $global-weight-bold;
    }
  }
}